<div class="wrapper">
    <div>
        <h1 [ngStyle]="{ 'font-size': isMobile ? '3em' : '5em' }" [@fadeIn]="showName ? 'visible' : 'invisible'">Zana Aziz</h1>
        <h2 [ngStyle]="{ 'font-size': isMobile ? '1.25em' : '1.5em' }" [@fadeIn]="showTitle ? 'visible' : 'invisible'">Software Developer</h2>

        <button mat-flat-button color="primary" [routerLink]="['/about']" [@fadeIn]="showButton ? 'visible' : 'invisible'"><mat-icon>person_add</mat-icon>Get to know me</button>
    </div>
</div>
