.wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 0;

    div {
        transform: translateY(-60%);

        h1 {
            margin: 0;
            padding: 0;
        }

        h2 {
            margin: 0 16px 1em 16px;
            padding: 0;
        }

        button {
            .mat-icon {
                margin-right: 0.25em;
            }
        }
    }
}
