.root {
    margin: 2em auto 0 auto;
    max-width: 50em;
}

.no-margin-top {
    margin-top: 0;
}

.mat-divider {
    margin: 2.5em 0;
}

p {
    line-height: 1.5em;
}

.bold {
    font-weight: 500;
}

.skill {
    width: 100%;
    margin-bottom: 1em;

    .details {
        width: 100%;
        position: relative;

        h3 {
            display: inline-block;
        }

        h3:last-child {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.role {
    .details {
        h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .mat-icon {
                margin-right: 0.25em;
            }

            span, .mat-icon {
                vertical-align: middle;
            }
        }

        h3:nth-child(2) {
            font-size: 1em;
        }

        h3:nth-child(3), h3:last-child {
            font-size: 0.75em;
            font-weight: normal !important;
        }
    }

    .description {
        font-size: 0.75em;
    }
}
