<div class="mdc-layout-grid__inner root">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [@fadeIn]="showBackground ? 'visible' : 'invisible'">
        <h1 class="no-margin-top">Background</h1>

        <p>
			As a <b>web developer</b>, I've done a vast amount of work using <b>modern frameworks</b> such as <b>Angular</b> to power robust <b>single page applications</b> in the <b>frontend</b>. In addition to that, I've also taken part in developing <b>REST APIs</b> for the <b>backend</b>.
        </p>

        <p>
			As a <b>software developer</b>, I've taken <b>lead roles</b> in the creation of <b>large-scale enterprise-level applications</b> with <b>thousands</b> of <b>active users</b>.
        </p>
    </div>

    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [@fadeIn]="showSkills ? 'visible' : 'invisible'">
        <h1>Skills</h1>

        <div class="skill">
            <div class="details">
                <h3>Project Management</h3>
                <h3>{{ skills['management'] }}&#37;</h3>
            </div>
            
            <mat-progress-bar color="primary" mode="determinate" [value]="skills['management']"></mat-progress-bar>
        </div>

        <div class="skill">
            <div class="details">
                <h3>Angular</h3>
                <h3>{{ skills['angular'] }}&#37;</h3>
            </div>
            
            <mat-progress-bar color="primary" mode="determinate" [value]="skills['angular']"></mat-progress-bar>
		</div>
		
		<div class="skill">
            <div class="details">
                <h3>Python</h3>
                <h3>{{ skills['python'] }}&#37;</h3>
            </div>

            <mat-progress-bar color="primary" mode="determinate" [value]="skills['python']"></mat-progress-bar>
        </div>

        <div class="skill">
            <div class="details">
                <h3>Java</h3>
                <h3>{{ skills['java'] }}&#37;</h3>
            </div>

            <mat-progress-bar color="primary" mode="determinate" [value]="skills['java']"></mat-progress-bar>
        </div>

        <div class="skill">
            <div class="details">
                <h3>HTML</h3>
                <h3>{{ skills['html'] }}&#37;</h3>
            </div>

            <mat-progress-bar color="primary" mode="determinate" [value]="skills['html']"></mat-progress-bar>
        </div>

        <div class="skill">
            <div class="details">
                <h3>CSS</h3>
                <h3>{{ skills['css'] }}&#37;</h3>
            </div>

            <mat-progress-bar color="primary" mode="determinate" [value]="skills['css']"></mat-progress-bar>
        </div>

        <div class="skill">
            <div class="details">
                <h3>JavaScript</h3>
                <h3>{{ skills['javascript'] }}&#37;</h3>
            </div>

            <mat-progress-bar color="primary" mode="determinate" [value]="skills['javascript']"></mat-progress-bar>
        </div>

        <div class="skill">
            <div class="details">
                <h3>PHP</h3>
                <h3>{{ skills['php'] }}&#37;</h3>
            </div>

            <mat-progress-bar color="primary" mode="determinate" [value]="skills['php']"></mat-progress-bar>
        </div>
    </div>

    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [@fadeIn]="showExperience ? 'visible' : 'invisible'">
        <h1>Experience</h1>

        <div class="role">
            <div class="details">
                <h3><mat-icon>bookmark</mat-icon><span>Web &amp; Software Developer</span></h3>
                <h3><mat-icon>account_balance</mat-icon><a href="https://devcentrehouse.eu" target="_blank"><span>Dev Centre House Ltd.</span><mat-icon>link</mat-icon></a></h3>
                <h3><mat-icon>room</mat-icon><span>Unit 19D, Rosemount Park Drive, Blanchardstown, Dublin 11, D11 WP7V, Ireland.</span></h3>
                <h3><mat-icon>today</mat-icon><span>June 2018 &mdash; September 2020 &middot; 2 years 4 months</span></h3>
            </div>

            <div class="description">
				<ul>
					<li>Developed web apps using Angular.</li>
					<li>Developed cross platform apps using Java.</li>
					<li>Lead and managed a team of 4 developers across 3 different projects, each spanning over 6 months. I carried out daily scrum calls every morning, created and assigned tasks to each member, and most importantly I planned upcoming milestones in preparation for the next move.</li>
				</ul>
            </div>
        </div>
	</div>
	
	<div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [@fadeIn]="showEducation ? 'visible' : 'invisible'">
        <h1>Education</h1>

        <div class="role">
            <div class="details">
                <h3><mat-icon>school</mat-icon><a href="https://www.ncirl.ie/Courses/NCI-Course-Details/course/BSHC" target="_blank"><span>BSc (Honours) in Computing &middot; Data Analytics</span><mat-icon>link</mat-icon></a></h3>
                <h3><mat-icon>account_balance</mat-icon><a href="https://ncirl.ie" target="_blank"><span>National College of Ireland</span><mat-icon>link</mat-icon></a></h3>
                <h3><mat-icon>room</mat-icon><span>Mayor Street, IFSC, Dublin 1, Ireland.</span></h3>
                <h3><mat-icon>today</mat-icon><span>2016 &mdash; Present</span></h3>
            </div>
        </div>
    </div>
</div>
