@import 'src/palette.scss';

.root {
    margin: 2em auto 0 auto;
    max-width: 50em;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    max-height: 15em;
    object-fit: cover;
}

.title {
    font-weight: 500;
}

.mat-icon, .timestamp {
    vertical-align: middle;
}

.timestamp {
    margin-left: 0.25em;
}

.mat-divider {
    margin: 1em 0;
}
