<mat-toolbar [@fadeIn]="show ? 'visible' : 'invisible'">
    <mat-toolbar-row>
        <a class="brand" [routerLink]="['/']">
            <img src="assets/images/zanaaziz.jpg" alt="Image of Zana Aziz">
            <span [@fadeIn]="page.path === '/' ? 'invisible' : 'visible'">Zana Aziz</span>
        </a>

        <span class="fill-space"></span>

        <!-- desktop -->
        <ng-container *ngIf="!isMobile">
            <a mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon>home</mat-icon>
                Home
            </a>

            <a mat-button [routerLink]="['/about']" routerLinkActive="active">
                <mat-icon>account_circle</mat-icon>
                About
            </a>

            <a mat-button [routerLink]="['/portfolio']" routerLinkActive="active">
                <mat-icon>folder_shared</mat-icon>
                Portfolio
            </a>

            <a mat-button [routerLink]="['/blog']" routerLinkActive="active">
                <mat-icon>text_snippet</mat-icon>
                Blog
            </a>

            <a mat-button [routerLink]="['/contact']" routerLinkActive="active">
                <mat-icon>forum</mat-icon>
                Contact
            </a>

            <a mat-button [matMenuTriggerFor]="dashboard" *ngIf="authenticated">
                <mat-icon>build</mat-icon>
                Dashboard
            </a>

            <mat-menu #dashboard="matMenu">
                <a mat-menu-item [routerLink]="['/dashboard/blog']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>settings</mat-icon>
                    Manage blog
                </a>

                <button mat-menu-item (click)="onLogout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </ng-container>

        <!-- mobile -->
        <ng-container *ngIf="isMobile">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>home</mat-icon>
                    Home
                </a>

                <a mat-menu-item [routerLink]="['/about']" routerLinkActive="active">
                    <mat-icon>account_circle</mat-icon>
                    About
                </a>

                <a mat-menu-item [routerLink]="['/portfolio']" routerLinkActive="active">
                    <mat-icon>folder_shared</mat-icon>
                    Portfolio
                </a>

                <a mat-menu-item [routerLink]="['/blog']" routerLinkActive="active">
                    <mat-icon>text_snippet</mat-icon>
                    Blog
                </a>

                <a mat-menu-item [routerLink]="['/contact']" routerLinkActive="active">
                    <mat-icon>forum</mat-icon>
                    Contact
                </a>

                <button mat-menu-item [matMenuTriggerFor]="dashboard" *ngIf="authenticated">
                    <mat-icon>build</mat-icon>
                    Dashboard
                </button>
    
                <mat-menu #dashboard="matMenu">
                    <a mat-menu-item [routerLink]="['/dashboard/blog']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon>settings</mat-icon>
                        Manage blog
                    </a>
    
                    <button mat-menu-item (click)="onLogout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </mat-menu>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>
