@import '~@angular/material/theming';
@include mat-core();
$zanaaziz-primary: mat-palette($mat-grey, 900);
$zanaaziz-accent: mat-palette($mat-teal);
$zanaaziz-warn: mat-palette($mat-red);
$zanaaziz-theme: mat-light-theme($zanaaziz-primary, $zanaaziz-accent, $zanaaziz-warn);
@include angular-material-theme($zanaaziz-theme);

@import 'src/palette.scss';

html, body {
    width: 100% !important;
    height: 100% !important;
}

body {
    background-color: #FFFFFF !important;
    margin: 0 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body, button {
    letter-spacing: 0.025em !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
}

.spinner:not(.preserve) {
	position: fixed !important;
	left: 50% !important;
	top: 40% !important;
	z-index: 999 !important;
	margin: 0 !important;
	padding: 0 !important;

	.mat-progress-spinner {
		position: relative !important;
		left: -50% !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}

.mat-snack-bar-container {
	color: $white !important;
	background: $primary !important;
	box-shadow: none !important;
}

.mat-tooltip {
    background-color: $primary !important;
}

div.code-toolbar > .toolbar {
    background: #F5F2F0 !important;
}

div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
    box-shadow: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span:hover {
    cursor: pointer !important;
}

.ngx-md {
    line-height: 1.5em !important;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1em !important;
        line-height: 1.75em !important;
    }

    h2:after {
        content: '' !important;
        display: block !important;
        border: 0.01em solid #F2F2F2 !important;
        margin-bottom: 0.5em !important;
    }

    a {
        color: inherit !important;
    }

    table {
        display: block !important;
        overflow-x: auto !important;
        white-space: nowrap !important;
    }

    img {
        max-width: 100% !important;
    }

    strong, b {
        font-weight: 500 !important;
    }

    .code-toolbar {
        z-index: 0 !important;
    }

    @media only screen and (max-width: 840px) {
        h2 {
            font-size: 1.5em !important;
        }
    
        h3 {
            font-size: 1.25em !important;
        }
    
        h4 {
            font-size: 1.15em !important;
        }
    
        h5 {
            font-size: 1.1em !important;
        }
    
        h6 {
            font-size: 1.05em !important;
        }
    }
}
