@import '~@angular/material/theming';
@include mat-core();
$zanadaniel-primary: mat-palette($mat-grey, 900);
$zanadaniel-accent: mat-palette($mat-teal);
$zanadaniel-warn: mat-palette($mat-red);
$zanadaniel-theme: mat-light-theme($zanadaniel-primary, $zanadaniel-accent, $zanadaniel-warn);
@include angular-material-theme($zanadaniel-theme);

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
