.root {
    margin: 2em auto 0 auto;
    max-width: 50em;
}

.no-margin-top {
    margin-top: 0;
}

p {
    line-height: 1.5em;
}

.bold {
    font-weight: 500;
}

button {
    margin-top: 1em;
    width: 100%;

    span, .mat-icon {
        vertical-align: middle;
        margin: 0 0.125em;
    }
}
